<div class='checkout'>
  <div class='info'>
    <form action='#'>
      <h2>Customer Information</h2>
      <h3>Name</h3>
      <div class="formRow">
        <input id='firstName' type='text' placeholder="First">
        <input id='lastName' type='text' placeholder="Last">
      </div>
      <h3>Address</h3>
      <div class="formRow">
        <input id='address' type='text' placeholder="Address">
      </div>
      <div class="formRow">
        <input id='city' type='text' placeholder="City">
        <input id='state' type='text' placeholder="State">
        <input id='zip' type='text' placeholder="Zip">
      </div>
      <h2>Payment Information</h2>
      <div class="formRow">
        <input id='card' type='text' placeholder="Card number">
        <input id='expiration' type='date' placeholder="Expiration">
        <input id='ccv' type='text' placeholder="CCV">
      </div>
      <div class="checkoutBtn" onclick="location.hash = '/thank_you'">Submit Order</div>
    </form>
  </div>
  <div class='cart'>
    <h2>Order Summary</h2>
    <div class="items">
      {{#each cart.items}}
      <div class="item">
        <div class="thumbnail">
          <img src="images/products/{{id}}.jpg" alt="image">
        </div>
        <div class="desc">
          <div class="name">{{name}}</div>
        </div>
        <div class="quantity">{{quantity}}</div>
        <div class="subtotal">{{subtotal}}</div>
      </div>
      {{/each}}
    </div>

    <div class="summary">
      <div class="total">{{cart.total}}</div>
      {{#if cart.discount}}
      <div class="discount">Discount of {{cart.discount}}%</div>
      {{/if}}
      <div class="shipping">Free Shipping if you order in {{cart.shipping}} minutes.</div>
      {{#if cart.discount}}
      <div class="discountTotal">{{cart.discountTotal}}</div>
      {{/if}}
    </div>
  </div>
</div>
<script>
  document.querySelector('.checkoutBtn').style.backgroundColor = decision.ctaColor;
</script>