<div class="thankYou">
  <div class="check">
    <div class="emoji">
      ✓
    </div>
    <div class="thanks">Thank you!</div>
  </div>
  <div class='order'>
    <h2>Order Summary</h2>
    <div class="items">
      {{#each cart.items}}
      <div class="item">
        <div class="thumbnail">
          <img src="images/products/{{id}}.jpg" alt="image">
        </div>
        <div class="desc">
          <div class="name">{{name}}</div>
        </div>
        <div class="quantity">{{quantity}}</div>
        <div class="subtotal">{{subtotal}}</div>
      </div>
      {{/each}}
    </div>

    <div class="summary">
      <div class="total">Total: ${{cart.total}}</div>
    </div>
  </div>
</div>